<!-- <webgains tracking code> -->
<?php

//echo $this->getPurchaseEvent();

if(Mage::helper('nullor_webgains')->isEnabled()){

    $pixelEvent = Mage::getModel('core/session')->getWebgainsPurchase();
    if($pixelEvent){

        // Mage::log('RemmotePixel - pageSection: '. $pageSection);

        // Check if standard checkout...
        /*
        if(Mage::helper('nullor_webgains')->onestepcheckoutEnabled()){ //One Step Checkout
            if($pageSection != 'checkout_onepage_success'){
                return;
            }
        }
        */
    
        //Unset event
        Mage::getModel('core/session')->unsWebgainsPurchase();           
        /*
        $extra = Mage::getModel('core/session')->getData('wg_purchase');
        Mage::getSingleton('core/session')->unsetData('wg_purchase');

        $html = '<div style="width:1px; height:1px; overflow:hidden; position: absolute;"><img src="https://track.webgains.com/transaction.html?'. $extra .'" width="1" height="1" /></div>';
        return $html;
        */
        return 'webgains';
    }
    
}

return '';

?>
<!-- </webgains tracking code> -->